<div class="container">
  <div class="row">
    <div class="col-md-7">
      <div class="card p-3">
        <div class="bg-redish rounded border border-4 border-dark px-2">
          <div class="bg-pinkish p-2 rounded">
            <div class="bg-greyish rounded border border-2 border-light p-2">
              <h2 class="">This is A Pokemon</h2>
            </div>
          </div>
        </div>
        <img class="display-img" src="" alt="this is an image">
        <div class="bg-redish rounded border border-4 border-dark px-2">
          <div class="bg-pinkish p-2 rounded">
            <div class="bg-greyish rounded border border-2 border-light p-2">
              <h3 class="">This is a description of the Pokemon</h3>
              <div>
                <button type="button" class="redish btn btn-outline-danger d-flex ms-auto"> <i class="mdi mdi-pokeball"></i> Catch </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div id="pokemonList" class="text-center my-2">
          <!-- NOTE 15-20  pokemon names displayed -->
          <!-- <button type="button" class="redish btn btn-outline-danger fs-4 my-2 p-2">Pokemon Name</button>  -->
        </div>
        <div class="d-flex justify-content-between p-3">
          <button type="button" class="btn btn-outline-primary"><< Back</button>
          <button type="button" class="btn btn-outline-primary">Next >></button>
        </div>
      </div>
    </div>
  </div>
</div>